



/** keyframes permet de modifier progressivement sa propriété de background posiition  **/
@keyframes mouvementADroite { /** Nom donner à l'animation**/
    from{
        background-position: 70000%; /** il va partir de tout à droite **/
    }
    to {
        background-position: 0%; /**Pour finir tout à gauche **/
    }
}


#desert{
    position: absolute;
    background-image: url("../images/fond2.png");
    height: 200px;
    width: 100%;
    animation: mouvementADroite 600s infinite linear; /** permet d'animer le fond pour allant à droite tout en suivant une ligne linéaire **/
    bottom: 0;
}

.dino{
    background-image: url("../images/2.png");
    height: 60px;
    width: 60px;
    bottom: 0;
    position: absolute;

}