@keyframes slideright {
    from{
        background-position: 70000%;
    }
    to {
        background-position: 0%;
    }
}


#desert{
    position: absolute;
    background-image: url("../images/fond2.png");
    height: 200px;
    width: 100%;
    animation: slideright 600s infinite linear;
    bottom: 0;
}

.dino{
    background-image: url("../images/2.png");
    height: 60px;
    width: 60px;
    bottom: 0;
    position: absolute;

}