



/** keyframes permet de modifier progressivement sa propriété de background posiition  **/
@keyframes mouvementADroite { /** Nom donner à l'animation**/
    from{
        background-position: 70000%; /** il va partir de tout à droite **/
    }
    to {
        background-position: 0%; /**Pour finir tout à gauche **/
    }
}


#desert{
    position: absolute;
    background-image: url("../images/fond.jpg");
    height: 500px;
    width: 100%;
    animation: mouvementADroite 1000s infinite linear; /** permet d'animer le fond pour allant à droite tout en suivant une ligne linéaire **/
    bottom: 0;
}

.dino{
    background-image: url("../images/dino.png");
    height: 85px;
    width: 80px;
    bottom: 0;
    position: absolute;

}

.obstacle{
    background-image: url("../images/cac.png");
    width: 100px;
    height: 90px;
    position: absolute;
    bottom: 0;
}
